// screens breakpoint
$small : 576px;
$medium : 768px;
$large : 992px;
$x-large : 1200px;
$xx-large : 1400px;

// variables
$primary-color : #f38181;
$secondary-color : #fce38a;
$primaryAlpha-color : rgba(243, 129, 129, 0.9);
$secondaryAlpha-color : rgba(252, 227, 138, 0.9);
$primaryText-color:#999;
$secondaryText-color:#777;
$icons-color:#95e1d3;
$White-color:#fff;
$border-color:#ccc;
$section-padding : 100px;
